body {
    background-image: url("../images/green_cup.png");
}



.container {
    margin: auto;
    padding: auto;
    

}

.animal {

    background-color: olivedrab;
    
}


.three {


    background-color: darkgreen;
    
}


.btn {
    margin: auto;
    padding: 10px;
} 

#trueDiv.highlight:hover {

    background-color: crimson;
}
 

.Scoreboard {

    color: olive;
}


