body {
    background-image: url("../images/green_cup.png");
}



.container {
    margin: auto;
    padding: auto;
    

}



/* #questionAnswer, #button {
    padding: 5px;
    text-align: left;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
  #questionAnswer {
    padding: 50px;
    display: none;

  } */


.btn {
    margin: auto;
    padding: 10px;
} 

#trueDiv.highlight:hover {

    background-color: crimson;
}
 

.Scoreboard {

    color: olive;
}


#title {

    background-image: url("assets/images/Background.png")
}